
:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--green: #31d0aa;
	--slate-paragraf-color: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--bgr-color: #2e2f42;
	--white-accent-text-color: #ffffff;
	--dairy: #fcfcfc;
	--secondary-font: 'Raleway', sans-serif;
	--primary-font: 'Roboto', sans-serif;
	}

	body {
	font-family: var(--primary-font);
	color: var(--slate-paragraf-color);
	font-size: 16px;
	 font-weight: 400;
	 font-style: normal;
	 line-height: 24px;
	 letter-spacing: 0.02em;
	 text-decoration: none;
	 text-transform: none;
	 }


/*Header sections*/

.list {
	list-style: none;
 }
 .site-nav-link {
	color: #404BBF;   
 }

.header{
	font-weight: 800;
	padding-top: 24px;
	border-bottom: 1px solid var(--cornflower);
	background-color: var(--white-accent-text-color);
}
.header-logo {
	color: var(--iris);
}
.list {
   list-style: none;
}
.header-nav link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.header-link link:hover,
.header-link link:focus{
color: var(--ocean);
}



/*Hero*/
.section-hero {
border: 2px;
position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;
background: #2E2F42;
}

.hero-line {

    width: 507px;
    margin: 0 auto 48px;
	font-weight: 700;
	font-size: 56px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

.hero-main-button:hover,
.hero-main-button:focus {
color: var(--white-accent-text-color);
background-color: var(--iris);
border: 1px
}

/*Button*/
.filter-button:hover
.filter-button:focus{
   color: #ffffff;
   background-color: #404BBF;;
   }
.button-text {
   	font-size: 16px;
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}
.small-text {
	font-size: 12px;
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	line-height: 14px;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}
.link {
	text-decoration: none;
}
.link-text {
	
	font-size: 12px;
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
	letter-spacing: 0.04em;
	text-decoration: underline;
	text-transform: none;
}


/*Portfolio hero*/  
.hero-button:hover,
.hero-button:focus{
   color: #ffffff;
   background-color: #404BBF;}

.btn-list-text {
   font-family: inherit;
   font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	font-size: 16px;
	font-family: "Roboto";
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em; 
	
}
   
/*  */
