/*Header sections*/

.list {
   list-style: none;
}
.site-nav a {
   color: #000000;
}

.filter-btn:hover
.filter-btn:focuss{
   background-color: #404BBF;;
   }
/*Section Hero*/   

.hero {
   color: #000000 ;
}
.hero-titlo {
   color: #000000 ; 

}
.section-title {
   color: #000000 ;
}
/*Section About*/


/*Section Img*/


/*Section Team*/

/*Footer*/
